ul.list-group
	li.list-group-item.btn(
		ng-repeat="item in model.items", 
		ng-click="handler.select($index)",
		ng-class="{'btn-default': handler.showDefault($index), 'btn-success': handler.showCorrect($index), 'btn-danger': handler.showIncorrect($index)}"
	)
		div
			{{item}}

