form(ng-submit="handler.check()")

	p
		textarea.form-control(ng-model="model.text")

	button.btn.btn-default(type="submit", ng-hide="model.showSolution") Check
	
div(ng-show="model.showSolution")
	h4 Solução:
	div.bg-warning
		{{handler.exercise.solution}}	
