div(
	ng-controller="MainCtrl"
	ng-busy="dataPromise"
)
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				.navbar-brand Patrão Local
				.navbar-text
					span(
						ng-repeat="group in $storage.groups"
					) {{group.groupSize}}&nbsp;/&nbsp;
					{{exercises.length}}
		
	.container
		div(ui-view)
	
