p.lead {{handler.exercise.text}}

.row.text-center(ng-if="handler.exercise.figure!==undefined")
	img(
		style="max-width: 100%;",
		ng-src="data/images/{{handler.exercise.figure}}",
	)

p.lead
	ng-include(src="handler.getTemplate()")


button.btn.btn-lg.btn-block(ng-click="nextExercise()") Seguinte